@media (max-width: 1035px) {
    .list_numbers{
        display: none;
    }
}

@media (max-width: 1018px){
    .catDog_desktop img{
        height: 420px;
        width: 400px;
        margin-top: 27px;
        box-shadow: 20px 20px 60px 10px rgb(255, 197, 158);
    }

    .history_text p {
        max-width: 342px;
}

.infomaition {
    padding: 16px 0px 20px 65px;
}
  
}

@media (max-width: 900px){

    .location a{
        display: none;
    }

    .social_network{
        padding: 92px 0px 0px;
    }

    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .catDog_desktop{
        display: flex;
        justify-content: flex-end;
        /* margin-top: 27px;
        box-shadow: 20px 20px 60px 10px rgb(255, 197, 158); */
    }

    .phantom{
        display: none;
    }

.catDog_desktop img{
    height: 420px;
        width: 500px;
        margin-top: 27px;
        box-shadow: 20px 20px 60px 10px rgb(255, 197, 158);
}


}

@media (max-width: 768px) {
   .haed{
    display: flex;
    align-items: center;

   }

    .navbar-list li{
    display: flex;
    align-items: center;
    line-height: 0.1;
    padding: 13px 0px 0px 0px;
    }

    .burger{
        display: flex;
        flex-direction: column;
    }

    .line{
        /* display: flex;
        flex-direction: column; */
        display: inline-block;
        width: 30px;
        height: 3px;
        border-radius: 30%;
        background-color: rgb(202, 190, 160);
    }

    .wrap-info{
        display: none;
    }

    .location{
        display: none;
    }
}

@media (max-width: 768px) {

    .container{
        max-width: 768px;
    }

    .list_numbers{
        display: none;
    }

    .info{
        max-width: 250px;
        padding: 0;
        
    }

    .title{
        font-size: 45px;
    }
    .catDog_desktop{
        display: none;
    }

    .bird_notepad{
        display: flex;

    }

    .social_network {
        padding: 113px 0px 0px;
    }
}




@media (max-width: 768px) {
    .history{
        display: flex;
        justify-content: center;
    }

    .history_text{
        display: flex;
        max-width: 768px;
        align-items: center;
    }

    .history_text p {
        display: flex;
        text-align: justify;
        max-width: 245px;
        padding: 0px;
    }

    .our_specialists {
        display: flex;
        flex-direction: column;
        max-width: 768px;
    }

    .our_specialists_foto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    padding: 50px 0px 20px 5px;
    border-radius: 100%;
    }

    .our_specialists_foto  img{
        max-width: 106px;
    }

    .circl_arrow{
        height: 20px;
        width: 20px;
    }

    .phantom{
        display: none;
    }
}

@media (max-width:768px) {
    .footet{
        max-width: 768px;

    }

  
    .infomaition_links{
        display: none;
    }

    .infomaition_links_notepad{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .links{
        gap: 28px;
        max-width: 800px;
        flex-direction: column-reverse;
    }

    .infomaition_links_notepad li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 250;
        text-align: left;
    }

    .contacts {
        padding: 45px 0px 0px 30px;
    }
}


@media (max-width:580px){

    .title {
        font-size: 35px;
    }

    .footer{   
        display: flex;
        justify-content: center;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 15px 0px;
}

.infomaition {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    gap: 20px;
    padding: 0;
}

    .contacts{
        padding: 0;
    }

    .cute_text {
        display: none;

    }
}
